// ===============
// colors palette
// ===============
:root {
	--primary-font: "Outfit";
	--primary-text: #8f8f8f;
	--brand--primary: #f6b644;
	--brand-secondary: #da3c3c;
	--tarmac: #222;
	--slate: #343434;
	--elephant: #555;
	--cement: #afafaf;
	--darkness: #070707;
	--pure-white: #fff;
	--dark-slate-blue: #2c4a5c;
	--hoverButton: #b91111;

	// ================================================================;
}
